@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rye, sans-serif;
    color: #463c2a;
    display: flex;
    flex-direction: column;
}

/* heading styling */

header {
    background-color: #ebc275;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

h1 {
    margin-bottom: 5px; 
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

p {
    margin: 5px 50px;
    font-size: 0.8rem;
    text-align: left;
}

/* game area stylying */


.game_area {
    /* height: 750px; */
    display: flex;
    padding: 25px;
    background-color: #463c2a;
    color: #ebc275;
}

#cpu_ammo_display {
    text-align: right;
}

.decision_selection {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.decision_selection img {
    width: 80%;
    height: 200px;
}

#user_selection_menu img,
.selection_option,
button {
    background-color: #463c2a;
    text-align: center;
}

#user_selection_menu img:hover {
    background-color: yellow;
}

.decision_display {
    background-color: blue;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_selection_decision,
#cpu_selection_decision {
    text-align: center;
    padding: 50px 10px;
}

.decision_display img {
    width: 80%;
    height: 15rem;
}

.decision_display p {
    background-color: #463c2a;
    color: #ebc275;
    padding: 10px;
}

.restart_game {
    height: 75px;
    background-color: #463c2a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart_game button {
    padding: 10px 50px; 
    background-color: #ebc275;
    font-family: Rye, sans-serif;
}

/* footer stylying */

footer {
    background-color: lightcoral;
}