@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cantora One', sans-serif;
    /* color: #463c2a; */
    color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/space_background_image.jpg);
}

/* heading styling */

header {
    /* background-color: #ebc275; */
    display: flex;
    flex-direction: column;
    padding: 25px;
}

h1, h2{
    margin-bottom: 20px; 
    /* font-size: 1.5rem; */
    text-align: center;
}

/* game area stylying */

.game_area {
    display: flex;
    width: 100%;
    height: 35vh;
}

br {
    width: 100%;
    content: '';
    display: block;
    border-bottom: 5px ridge white;
}


/* HEALTH - BAR - STYLYING */

.health_area {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#cpu_health_bar_full,
#user_health_bar_full {
    background-color: green;
    height: 80%;
    width: 10%;
    border: 1px solid white;
    transition: all .4s ease;
    /* border-color: white; */
}

#cpu_health_bar,
#user_health_bar {
    height: 0%; 
    width: 100%;
    background-color: white;
    transition: all .5s ease;
}

/* AVATAR - STYLYING */

.cpu_space_ship {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpu_space_ship i {
    width: 400px;
    height: 400px;
}

.cpu_space_ship div {
    height: 80%;
    /* background-color: lightblue; */
    width: 40%;
}

.user_space_ship {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_space_ship div {
    height: 80%;
    /* background-color: lightblue; */
    width: 40%;
}

/* AMMO - DISPLAY - STYLYING */

#cpu_ammo_display,
#user_ammo_display {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1;
    transition: all .4s ease;
}

#user_ammo_display i,
#cpu_ammo_display i {
    font-size: 400%;
    margin-bottom: 10px;
}

#user_ammo_display p,
#cpu_ammo_display p {
    font-size: 2rem; 
}

/* GAME - BUTTONS - STYLYING */

footer {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px outset white;
    flex-shrink: 0;
}

footer button {
    height: 80%; 
    width: 10%;
    background-color: black;
}


/* POPUS - STYLYING */

.start_game {
    width: 400px; 
    background-color: black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: white;
    visibility: visible;
}

.close_popup {
    visibility: hidden;
}

.start_game ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: 20px;
}

.start_game li {
    margin-bottom: 10px;
}

.start_game i {
    font-size: 150%;
}

.restart_game,
.no_ammo {
    width: 400px; 
    background-color: black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: white;
    visibility: hidden;
}

.open_popup {
    visibility: visible;
}

.restart_game h1,
.no_ammo h1,
.start_game h1 {
    margin-bottom: 20px;
}

.restart_game p,
.no_ammo p,
.start_game p {
    margin-bottom: 20px;
}

.restart_game button,
.no_ammo button,
.start_game button {
    font-family: 'Cantora One', sans-serif;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
    background-color: white;
    color: black;
}

.user_controls i {
    font-size: 500%;
    color: white;
}