@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cantora One', sans-serif;
    min-height: 100vh;
    color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/space_background_image.jpg);
}

/* heading styling */

header {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

/* game area stylying */

.game_area {
    display: flex;
    width: 100%;
    height: 35vh;
}

br {
    width: 100%;
    content: '';
    display: block;
    border-bottom: 5px ridge white;
}


/* HEALTH - BAR - STYLYING */

.health_area {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cpu_health_bar_full,
#user_health_bar_full {
    background-color: black;
    height: 80%;
    width: 10px;
    border: 1px solid white;
    transition: all .4s ease;
    box-shadow: 0 0 20px 20px green;
}

#cpu_health_bar,
#user_health_bar {
    height: 0%; 
    width: 100%;
    background-color: white;
    transition: all .5s ease;
}

/* AVATAR - STYLYING */

.cpu_space_ship {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_space_ship {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_space_ship div,
.cpu_space_ship div {
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* AMMO - DISPLAY - STYLYING */

#cpu_ammo_display,
#user_ammo_display {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

#user_ammo_display i,
#cpu_ammo_display i {
    font-size: 400%;
    margin-bottom: 10px;
}

#user_ammo_display p,
#cpu_ammo_display p {
    font-size: 2rem; 
}

/* GAME - BUTTONS - STYLYING */

footer {
    height: 10vh;
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    flex-shrink: 0;
}

footer button {
    height: 100%; 
    width: 33%;
    color:black;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: rgba(177,239,6, 0.8);
    border: 1px solid blue;
}


.selection_cover:hover {
    background-color: rgba(0,0,225, 0.5);
    color: white;
}

.selection_reload:hover {
    background-color: rgba(0,100,0, 0.5);
    color: white;
}

#selection_shoot:hover {
    background-color: rgba(255,0,0, 0.5);
    color: white;
}

.shoot_lock {
    background-color: grey;
}

.shoot_lock:hover {
    background-color: grey;
    color: white;
}


/* POPUS - STYLYING */

.start_game {
    width: 400px; 
    background-color: black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: white;
    visibility: visible;
    z-index: 1000;
}

.close_popup {
    visibility: hidden;
}

.start_game ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: 20px;
}

.start_game li {
    margin-bottom: 10px;
}

.start_game i {
    font-size: 150%;
}

.restart_game,
.no_ammo {
    width: 400px; 
    background-color: black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: white;
    visibility: hidden;
    z-index: 1000;
}

.open_popup {
    visibility: visible;
}

.restart_game button,
.no_ammo button,
.start_game button {
    font-family: 'Cantora One', sans-serif;
    margin-top: 20px;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
    background-color: white;
    color: black;
}

.user_controls i {
    font-size: 500%;
    /* color: white; */
}

@media (max-width: 768px) {
    .game_area {
        flex-wrap: wrap;
    }
    .health_area {
        width: 100%;
    }
    #cpu_health_bar_full,
    #user_health_bar_full {
        height: 10px;
        width: 80%;
    }
    .cpu_space_ship {
        order: 2;
        height: auto;
    }
    .restart_game, 
    .no_ammo,
    .start_game {
        width: 80%;
        padding: 20px;
    }
    footer {
        width: 80%;
        height: 5vh;
    }
    .user_controls i {
        font-size: 250%;
    }
}

@media (max-width: 650px) {
    header {
        padding: 5px;
    }
    h1 {
        margin-bottom: 0;
    }

    img,
    #cpu_ammo_display,
    #user_ammo_display {
        transform: scale(0.7);
    }
    p {
        transform: scale(0.9);
    }
    .restart_game button,
    .no_ammo button,
    .start_game button {
        width: 90%;
    }
    
} 

@media (max-width: 350px), (max-height: 700px) {
    h1, h2 {
        transform: scale(0.9);
    }
    p {
        transform: scale(0.8);
    }
    .game_area {
        height: auto;
        min-height: 20vh;
    }
    img,
    #cpu_ammo_display,
    #user_ammo_display {
        transform: scale(0.5);
    }
    #cpu_health_bar_full,
    #user_health_bar_full {
        height: 5px;
    }
    .user_controls i {
        font-size: 150%;
    }
    

}

@media (max-height: 500px) {
    .start_game, 
    .restart_game,
    .no_ammo {
        top: 80%;
    }
}